body {
  margin: 0;
  background-color: lightgray;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect x='0' y='0' width='10' height='10' fill='black' fill-opacity='.25' /%3E%3Crect x='10' y='10' width='10' height='10' fill='black' fill-opacity='.25' /%3E%3C/svg%3E");
}

#main {
  position: absolute;
  top: 10vh;
  left: 10vw;
  border: 3px dashed black;
}